*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar-container{
    background-color: rgb(255, 221, 227);
    grid-row: 1 / 6 ;
    
}

.sidebar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    align-items: center;
    margin: 50px 0px 0px 50px;
}

.dashboard{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 2rem;
}

 .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy {
    display: flex;
    gap: 30px;
    align-items: center;
}

.first-batch, .second-batch{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    background-color: green;
}

.main-content{
background-color: lightsteelblue;
}

.home-img{
    background-image: url(/img/home-heart.svg);
    width: 30px;
    height: 30px;
}


.home-img{
    background-image: url(/img/home-heart.svg);
    width: 30px;
    height: 30px;
}


.profile-img{
    background-image: url(/img/face-woman-profile.svg);
    width: 30px;
    height: 30px;
}


.messages-img{
    background-image: url(/img/message-badge-outline.svg);
    width: 30px;
    height: 30px;
}


.history-img{
    background-image: url(/img/history.svg);
    width: 30px;
    height: 30px;
}


.tasks-img{
    background-image: url(/img/calendar-check.svg);
    width: 30px;
    height: 30px;
}


.communities-img{
    background-image: url(/img/account-group-outline.svg);
    width: 30px;
    height: 30px;
}

.settings-img{
    background-image: url(/img/cog.svg);
    width: 30px;
    height: 30px;
}

.support-img{
    background-image: url(/img/help-network.svg);
    width: 30px;
    height: 30px;
}

.privacy-img{
    background-image: url(/img/shield-check-outline.svg);
    width: 30px;
    height: 30px;
}

.dashboard-img{
    background-image: url(img/view-dashboard-outline.svg);
    width: 50px;
    height: 50px;
}